* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/HTML_CSS/html5_css3/html5_css3_grid/pictures/golden-lighting-effect-background.jpg);
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
}

.header img {
    height: 2vh;
} 

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li a{
    justify-items: space-around;
    text-decoration: none;
    padding: 2rem;
    color: white;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
}

.search_input {
    height:3rem;
    width:8rem;
    border: none;
    background-color: rgba(114, 132, 156, 0.109);
    text-align: center;
    color: white;
    border-radius: 5px;
}

.search_input_p {
    height:3rem;
    border: none;
    background-color: rgba(114, 132, 156, 0.109);
    color: white;
    font-weight: 900;
    text-align: center;
    padding:1rem;
}

.search_input_b {
    height:3rem;
    border: none;
    background-color: rgba(114, 132, 156, 0.109);
    color: white;
    padding:1rem 1rem 1rem 1rem;
    align-items: center;
    justify-items:center;
}

.search_input_b img {
    height:1rem;
}

section {
    display: grid;
    grid-auto-flow: column;
}

.section_one {
    padding: 10rem 5rem;
}

.section_one h1{
    color:white;
    font-size:50px;
}

.section_one p{
    padding: 1rem;
    color:white;
}

.section_one span{
    color:rgb(170, 10, 10);
}


.section_buttons {
    display: flex;
    margin:  1rem 0;
}

.section_ratings {
    display: flex;
}

.section_one button {
    background-color:white;
    height:3rem;
    width:10rem;
    border-radius: 5px;
    border: none;
    margin: 0 1rem;
}

.section_one img {
    height:3rem;
    background-color: none;
    margin: 0 1rem;
}

.section_rating {
    display: flex;
    position: relative;
    margin:3rem 0;
    border-radius:50px;
}

.section_rating img{
    background-color: rgb(219, 143, 179);
    border-radius:50px;
}

.section_two .pizza img{
    width:30rem;
    border-radius: 25px;
    justify-items: center;
    align-items: center;
    position: absolute;
    margin: 3rem 0;
    rotate: right;
}

.cola {
    width:10rem;
    background-color:white;
    width:15rem;
    border-radius: 25px;
    position: relative;
    top: 10rem;
    left: -5rem;
}

.section_two .cola img {
    width:10rem;
}

.delivery {
    display: flex;
    width:5rem;
    background-color:white;
    width:15rem;
    border-radius: 25px;
    position: absolute;
    top: 10rem;
    left: 60rem;
}

.section_two .delivery img {
    width:5rem;
}

.rating {
    display: flex;
    width:5rem;
    background-color:white;
    width:15rem;
    border-radius: 25px;
    position: absolute;
    top: 50rem;
    left: 50rem;
}

.section_two .rating img {
    width:5rem;
    height:5rem;
}

footer{
    color:white;
    margin-top:10rem;
    align-content: center;
    text-align: center;
    font-size:25px;
}